body{
    background: url('images/IMG-20251107-WA0032.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
   justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    background: rgba(15,14,14,0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0,0,0,0.3);
    width: 300px;
    height: max-content;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h2{
    color: rgb(23,247,2);
    font-weight: 800;
    font-size: xx-large;
}

input[type="text"]{
    margin: 10px 0;
    padding: 10px;
    border:none;
    border-radius:5px;
    font-size: 16px;
    background-color: rgba(0,0,0,0.63);
    box-shadow: 0 0 15px rgba (255,255,255,0.2);
    color: white;
}

input[type="text"]::placeholder{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parrafos{
    display: flex;
    justify-content: space-between;
    font-size: medium;
    margin-bottom: 15px;

}

.parrafos a{
     color:white;
     text-decoration: none;
}

#singup{
    color:rgbs(23,247,2);
    cursor:pointer;

}

#boton{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(23,247,2);
    color:black;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
}

.me{
  color:white;  
  display:flex;
  margin-top: 12px;
  justify-content: center;
}
.me a{
    color: white;
    text-decoration: none;
}













